@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  --clr-dark: #272a31;
  --clr-red: #ec5242;
  --clr-gray: #d3d3d3;
  --ff-coco: 'COCOGOOSE', sans-serif;
  --ff-lato: 'Lato', sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 1.25rem;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.head-content {
  background-color: #fbfbfb;
  background-image: url("../assets/intro_bg.jpg");
  background-size: cover;
  background-position-y: -70px;
  background-repeat: no-repeat;
  max-height: 800px;
}

nav .fa-bars {
  font-size: 2em;
  padding: 15px;
  color: var(--clr-dark);
}

.intro {
  padding-top: 60px;
  padding-bottom: 50px;
}

.intro .intro_welcome {
  font-family: var(--ff-lato);
  color: var(--clr-red);
  padding: 20px;
}

.intro h1 {
  font-family: var(--ff-coco);
  font-size: 2em;
  color: var(--clr-red);
  font-weight: 300;
  letter-spacing: -1px;
  line-height: 1em;
  padding-top: 10px;
  padding-left: 20px;
}

h1 .head_small {
  font-size: 35px;
}

.intro .intro_desc {
  margin-top: 35px;
  font-family: var(--ff-lato);
  font-size: 16px;
  border: 2px solid white;
  padding: 15px;
  max-width: 80%;
  color: var(--clr-dark);
  margin-left: auto;
  margin-right: auto;
}

.intro h2 {
  font-family: var(--ff-coco);
  color: var(--clr-dark);
  font-weight: 200;
  font-size: 1.15em;
  padding-left: 20px;
  letter-spacing: -1px;
}

.intro .date_title {
  font-size: 15px;
  font-weight: 600;
  font-family: var(--ff-lato);
  letter-spacing: 0;
}

.intro p {
  font-family: var(--ff-lato);
  font-size: 16px;
  color: var(--clr-dark);
  font-weight: 800;
  padding-left: 20px;
}

.main_program {
  background-color: var(--clr-dark);
  background-image: url("../assets/main_bg.png");
  background-size: contain;
  color: var(--clr-gray);
  padding: 15px;
}

.main_title {
  font-family: var(--ff-lato);
  text-align: center;
  padding-top: 20px;
}

.title_line {
  display: block;
  width: 50px;
  height: 2px;
  margin: 10px auto;
  background-color: var(--clr-red);
}

.program {
  display: flex;
  gap: 30px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.1);
  margin-top: 15px;
  padding: 10px;
  font-family: var(--ff-lato);
  align-items: center;
}

.program h3 {
  color: var(--clr-red);
}

.program p {
  font-size: 16px;
}

.program i {
  font-size: 1.5em;
}

.main_program {
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

.join_btn {
  font-family: var(--ff-lato);
  font-size: 0.8em;
  cursor: pointer;
  background-color: var(--clr-red);
  color: white;
  border: none;
  padding: 20px 35px;
  max-width: 300px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.join_btn:hover {
  background-color: #c84335;
}

.featured_musicians {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 15px;
  font-family: var(--ff-lato);
}

.musicians {
  padding-top: 30px;
}

.single_musician img {
  background-image: url("../assets/empty_bg.jpg");
  background-repeat: no-repeat;
  background-size: 110px 110px;
  background-position: -20px -20px;
  padding-left: 15px;
  padding-top: 15px;
}

.musician {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
  max-width: 600px;
}

.musician_line {
  margin: 15px 0;
  display: block;
  width: 35px;
  height: 2px;
  background-color: var(--clr-gray);
}

.music_desc {
  display: flex;
  flex-direction: column;
}

.music_desc h4 {
  font-size: 15px;
  padding-top: 10px;
  color: var(--clr-red);
  font-style: italic;
}

.music_desc p {
  font-size: 13px;
}

.partner {
  background-color: var(--clr-dark);
  padding: 40px;
  color: white;
}

.partner_title {
  text-align: center;
  font-family: var(--ff-lato);
}

.logo_list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 40px;
  gap: 10px;
  flex-wrap: wrap;
}

.logo_list img {
  mix-blend-mode: luminosity;
  max-width: 70%;
}

/* .gog{ */

/*    margin: 0; */

/*    max-width: 30%; */

/*    height: 10%; */

/* } */

footer {
  font-family: var(--ff-lato);
  color: var(--clr-dark);
}

.foot_content {
  gap: 20px;
  padding: 20px;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

footer h3 {
  font-size: 0.8em;
}

footer p {
  font-size: 12px;
}
